body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 10px;
}

header {
    background-color: #000;
    width: 100%;
    height: 100px;
}

#main {
    display: flex;
    background-color: yellow;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    border: 10px solid black;
}

.square {
    background-color: white;
    width: 100px;
    height: 100px;
}

.square-colored {
    background-color: black;
}